::selection {
    background-color: black;
}
body {
    background-color: #1d1d1d;
}
.container {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}
.titleContainer {
    position: relative;
    height: 30vh;
}
.calCon {
    position: relative;
    width: 100%;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
}
.title {
    position: absolute;
    top: -70px;
    left: 11%;
    font-size: 50px;
    font-weight: 400;
    vertical-align: middle;
    color: rgb(255, 255, 255)
}
.yearMonth {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -100px;
    right: 10%;
    width: 250px;
    height: 90px;
}
.arrows {
    display: flex;
    height: 18%;
}
.bottomArrows {
    height: 0.5px;
}
.arrowFlex {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.arrow {
    color: black;
    font-size: 30px;
}
.arrow:hover {
    color: white;
    cursor: pointer;
}
.leftArrow {
    width: 60%;
}
.rightArrow {
    width: 40%;
}
.nowYearMonth {
    display: flex;
    height: 60px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
    user-select: none;
}
.year {
    width: 60%;
    height: 100%;
}
.month {
    width: 40%;
    height: 100%;
}
/* .year .arrow:hover {
    color:rgba(255, 255, 255, 0.158);
    cursor: pointer;
} */
.calTable {
    width: 80%;
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 5px;
    background-color: black;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.74);
}
.dayRow {
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    background-color: #1d1d1d;
}
.dayRow td {
    width: 10%;
    border-radius: 5px;
    border: 1px solid black;
    vertical-align: middle;
}
.dateRow {
    height: 120px;
    text-align: center;
    background-color: #1d1d1d;
}
.dateRow td {
    padding: 7px 7px;
    width: 10%;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-weight: 400;
    text-align: start;
}
.date {
    padding-bottom: 5px;
}
.dateRow td:hover {
    background-color: rgba(255, 255, 255, 0.034);
    cursor: pointer;
}
.dark {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.315);
}
.modal {
    position: fixed;
    width: 800px;
    height: 500px;
    background-color: #0000009d;
    border-radius: 10px;
}
.opened {
    display: flex;
}
.clickedDate {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}
.listContainer {
    position: absolute;
    left: 20px;
    top: 52px;
    width: 60%;
    height: 83%;
    padding-top: 10px;
    padding-left: 18px;
    border-radius: 5px;
    background-color: #ffffff;
    overflow-y: scroll;
}
.resList {
    position: relative;
    width: 91%;
    height: 17%;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 1px rgba(0, 0, 0, 0.74) solid;
    border-radius: 8px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.74);
    color: black;
}
.resName {
    font-weight: 500;
    color:rgb(255, 0, 0);
}
.resList .count {
    margin-top: 10px;
    display: flex;
    width: 50%;
    height: 20px;
}
.resCount, .resBoxCount {
    margin-left: 4px;
    font-weight: 500;
}
.resDate {
    display: flex;
}
.resDate .returnDate {
    margin-left: 4px;
    font-weight: 500;
}
.deleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    border-radius: 0 6px 6px 0;
    border-left: 1px solid rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.158);
    cursor: pointer;
    transition: ease-in;
    transition-duration: 0.1s;
}
.deleteBtn:hover {
    border-left: 0px solid;
    background-color: rgba(255, 0, 0, 0.671);
    color: white;
}
.nameContainer {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 28%;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nameContainer input {
    position: absolute;
    margin-left: 7px;
    width: 58%;
    height: 58%;
    border-radius: 5px;
    border: 0px;
}
.kindContainer {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 28%;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.kindContainer .inputArea {
    position: absolute;
    top: 0;
    left: 63px;
    width: 55%;
    height: 180%;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 17px;
    color: black;
    background-color: white;
}
.kindContainer input {
    width: 10%;
    margin-bottom: 7px;
}
#count {
    width: 25%;
    margin-top: 5px;
    margin-right: 5px;
}
.boxContainer {
    position: absolute;
    top: 48%;
    right: 3%;
    width: 28%;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.boxContainer input {
    margin-left: 2.5px;
    margin-right: 4px;
    width: 16%;
    height: 70%;
    border-radius: 5px;
    border: 0px;
}
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    color:#5757579c;
    cursor: pointer;
}
.returnContainer {
    position: absolute;
    top: 58%;
    right: 3%;
    width: 28%;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.returnContainer input {
    width: 59%;
}
.submitBtn {
    position: absolute;
    bottom: 6.5%;
    right: 5%;
    width: 40px;
    height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    padding: 2px 2px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in;
    transition-duration: 0.1s;
}
.submitBtn:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.close:hover {
    color: rgba(255, 255, 255, 0.808);
}